<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Posts</h1>
        <nav>
            <a href="/">Posts</a>
            <a href="/addnewpost">Add New</a>
        </nav>
    </header>
    <div class="posts-container">
        <% if (posts.length === 0) { %>
            <h3>You did not post anything</h3>
        <% } %>
        <% posts.forEach(post => { %>
            <a class="post-container" href="/singlepost/<%= post.id %>">
                <h3 class="post-title"><%= post.title %></h3>
                <p class="post-body"><%= post.body %></p>
                <div class="post-footer">
                    <h5 class="poster-name"><%= post.name %></h5>
                    <h5 class="like-counter"><%= post.likes %></h5>
                </div>
            </a>
        <% }) %>

    </div>
    <footer>
        <p>Web Application Design homework 4</p>
    </footer>
</body>
</html>