<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>POSTS</h1>
        <%- include('../partials/nav.ejs')%>
    </header>
    <div class="posts-container">
        <% if (posts.length === 0) { %>
            <h2 class="no-post">You did not post anything!</h2>
        <% } %>
        <% posts.forEach(post => { %>
            <div class="post-container">
                <a class="postbody-container" href="/singlepost/<%= post.id %>">
                    <h3 class="post-title"><%= post.title %></h3>
                    <p class="post-body"><%= post.body %></p>
                </a>
                <div class="post-footer">
                    <h4 class="poster-name">Posted by: <%= post.name %></h4>
                    <a class="like-container" data-put="<%= post.id %>" onclick="putRequest(this.dataset.put, this)">
                        <h2 class="like-counter"><%= post.likes %></h2>
                        <img id="like" src="../assets/images/like.png" alt="like">
                    </a>
                </div>
            </div>
        <% }) %>
    </div>
    <script>
        function putRequest(id, el) {
            const endPoint = `/${id}`
            fetch(endPoint, {
                method: 'PUT',
            }).then(window.location.href = '');
        };
    </script>
    <%- include('../partials/footer.ejs')%>
</body>
</html>