<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <title>Post by <%= post.name %></title>
</head>
<body>
    <header>
        <h1>POST VIEWER</h1>
        <%- include('../partials/nav.ejs')%>
    </header>
    <div class="singlepost-container">
        <div class="post-container">
            <div class="postbody-container">
                <h3 class="post-title"><%= post.title %></h3>
                <p class="post-body"><%= post.body %></p>
            </div>
            <div class="post-footer">
                <h4 class="poster-name">Posted by: <%= post.name %></h4>
                <div class="like-container" data-put="<%= post.id %>">
                    <h2 class="like-counter"><%= post.likes %></h2>
                    <img id="like" src="../assets/images/like.png" alt="like">
                </div>
            </div>
            <a class="delete-button" data-del="<%= post.id %>">DELETE</a>
        </div>
    </div>
    <script>
        const deleteRequest = document.querySelector('a.delete-button');
        deleteRequest.addEventListener('click', (e) => {
            const endPoint = `/${deleteRequest.dataset.del}`;
            fetch(endPoint, {
                method: 'DELETE',
            }).then(window.location.href = '/');
        });
    </script>
    <%- include('../partials/footer.ejs')%>
</body>
</html>